h2{ color:#A021B4; }

h3{ color:#FFFFB0; }

body{ background-color: #E1C9DD;}
   
m1{ background-color : #A0E8B4;}

body {background-image: url("k.jpg"); background-repeeat: no-repeat }

m2 { background-image:url ("thumb-stick-around.gif"); }

input[type="reset"] { background-color:#c2cce3; }
input[type="SUBMIT"] { background-color:#c2cce3; margin-left:75px; }

form { margin-left:300px; }
a1 { margin-left:300px; }
a2 { margin-left:px; }